.chart-bar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.chart-bar {
  height: 100px;
  width: 1.6rem;
  background-color: rgb(86, 236, 164);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__inner {
  background-color: rgb(146, 146, 146);
  border-radius: inherit;
  transition: all 0.5s;
}

.chart-bar__label {
  font-size: 1.2rem;
  font-weight: 400;
}

@media (max-width: 375px) {
  .chart-bar__label {
    font-size: 1rem;
  }
}
