.task-description {
  background-color: aliceblue;
  padding: .8rem;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 30px 0 rgb(136, 136, 136);
}