* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  width: 100%;
  background-color: rgb(169, 169, 169);
  font-size: 1.6rem;
}


