.edit-task {
  width: 100%;
  background-color: white;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.edit-task button {
  background-color: rgb(86, 236, 164);
  padding: 1rem 1.4rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
}