.task-input__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 0.8rem;
}

.task-input__form label {
  font-size: 1.8rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0.6rem;
}

.task-inputs input{
  display: block;
  padding: 0.6rem;
  border-radius: 6px;
  font-size: 1.8rem;
}

.task-input__task input {
  width: 80%;
}

.task-input__task {
  grid-column: 1 / -1 ;
  grid-row: 1 / 2;
}

.task-input__start {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.task-input__end {
  grid-column: 2 / 3;
}

.task-input__btn {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  justify-self: end;
}

.btn {
  background-color: rgb(86, 236, 164);
  padding: .8rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 1.6rem;
  border: none;
}

@media (max-width: 650px) {
  .task-input__end {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .task-input__btn {
    align-self: end;
  }
}
